/*
    ------------------------
    --------- CTA ----------
    ------------------------
*/

.cta{
    background-image: url(../../../assets/bg-footer-squiggle.svg);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 3.5rem 0;

    &__header{
        text-align: center;
        margin-bottom: var(--space-xl);
    }

    /* Tablet */
    @include breakpoint-up(medium){
        background-size: cover;
        &__header,
        .form{
            max-width: 476px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}